@model Model.EF.User

@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{Thông tin chi tiết}

<div>
    <h4>Thông tin chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @if (Model.status)
            {
                @:Đã kích hoạt
            }
            else
            {
                @:Đã khóa
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @if (Model.gender == 0)
            {
                @:Nữ
            }
            else if (Model.gender == 1)
            {
                @:Nam
            }
            else
            {
                @:Ẩn
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedAt)
        </dd>

    </dl>
</div>
<div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Chỉnh sửa", "edit", new { Model.id }, new { @class = "btn btn-success" })
        </div>
    </div>
    @Html.ActionLink("Trở về", "index")
</div>
